<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="p-2 bg-dark text-light text-align-center">
        <div class="container">
            <h4>YOUR SEARCH RESULTS :</h4>
        </div>
    </section>
    <%  if(data != null){%>  
        <% data.forEach(function(article , index) { %>
        <section class="p-5 bg-dark text-light">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <% if ( article.urlToImage =='null' ) { %>
                            <img src="/images/news2.png" class="img-fluid " alt="image not available">
                                          <% }else { %>
                            <img src="<%=article.urlToImage %>" class="img-fluid " alt = " image is not available">
                                              <% } %>
                       <!--- <img class="img-fluid " src="< article.urlToImage  " alt="">--->
                    </div>
                    <div class="col-md p-5">
                        <h3><%- article.title %></h3>
                        <p class="lead"><%- article.description %></p>
                        <p><%- article.content %></p>
                    
                    <i class="bi bi-chevron-right"><a href="<%=article.url%>" class="btn btn-light mt-3">Read more</a></i>
    
                    </div>
    
                </div>
            </div>
            
    
        </section>
        <%  })%> 
        <% } else { %>
            <section class="p-2 bg-dark text-light text-align-center">
                <div class="container">
                   <h2>No post found</h2> 
                </div>
            </section>
    
        <%}%>
    
      
</body>
</html>